<!DOCTYPE html>
<html>
  <head>
    <title>VoteFunny</title>
    <link rel="stylesheet" href="/assets/css/styles.css" />
  </head>
  <body>
    <h1><a href="#/shows">Comedy Central Presents: Vote Funny...</a></h1>
    {{{body}}}
  </body>
</html>