<!DOCTYPE html>
<html>
  <head>
  	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <title>VoteFunny</title>
    <link rel="stylesheet" href="/assets/css/styles.css" />
  </head>
  <body>
    <h1><a href="#/shows">Comedy Central Presents: Vote Funny...</a></h1>
    {{{body}}}
  </body>
</html>